rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /apartments/{allPaths=**} {
      // Allow public read access to images
      allow read: if true;
      // Allow writes for now for development. 
      // TODO: Change back to `if request.auth != null;` for production.
      allow write: if true;
    }
  }
}
